In [2]:
# Create process to import CSV file into SQL Server Database

# Python 3.10

# file name: Connections_1221
#file path: C:\Users\snfra\OneDrive\Documents\RAW DATA\LINKED

In [ ]:
# import libraries

import os
import pandas as pd
import pyodbc

# use the following in VS code python terminal: right click > run selection\line...
#pip install pyodbc

In [3]:
# get current working directory
os. getcwd()

'c:\\Users\\snfra\\OneDrive\\Desktop\\GITHUB\\Linked_Connections'

In [7]:
# change working directory
os.chdir('C:/Users/snfra/OneDrive/Documents/RAW DATA/Linked')
os. getcwd()

'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

In [8]:
# list all files in working directory
path = 'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

linked_files = os.listdir(path)

linked_files

['Connections_1221.csv']

In [9]:
data = pd.read_csv('Connections_1221.csv')   
data.head()

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Amanda,Somers,NaN,SailPoint,"Sr. Recruiter, Sales Engineering",3-Dec-21
1,Aaron,"Stalter, MPA",NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
2,Dawn,Ryder,NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
3,George,Welling,NaN,State of Missouri,ITSD Enterprise Resource Recruiter,3-Dec-21
4,Kelleri,Riegel,NaN,Fairygodboss,Senior Product Manager,2-Dec-21

In [10]:
# view column names

data.columns

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [11]:
# clean the column names

data.columns = [x.title().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in data.columns]
                
data.columns

Index(['First_Name', 'Last_Name', 'Email_Address', 'Company', 'Position',
       'Connected_On'],
      dtype='object')

In [12]:
# viewing data types of this panda dataframe
data.dtypes

First_Name       object
Last_Name        object
Email_Address    object
Company          object
Position         object
Connected_On     object
dtype: object

In [ ]:
# SQl script to create table in database
create table Linked_Connections
(
    First_Name       varchar,
    Last_Name         varchar,
    Email_Address       varchar,
    Company             varchar,
    Position          varchar,
    Connected_On         varchar,
);

In [15]:
# CREATING A FUNCTION THAT CLEANS THE COLUMN NAME AND CORRECTS DATA TYPES.

def cleaned_columns(dataframe):
  
    data.columns = [x.title().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in data.columns]
    
    #processing data
    replacements = {
        'timedelta64[ns]': 'varchar',
        'object': 'varchar',
        'float64': 'float',
        'int64': 'int',
        'datetime64': 'timestamp'
    }

    col_name_type = ", ".join("{}  {}".format(n, d) for (n, d) in zip(data.columns, data.dtypes.replace(replacements)))
    
    return col_name_type, dataframe.columns



# calling the function
cleaned_columns(data)   # pass in a dataframe

('First_Name  varchar, Last_Name  varchar, Email_Address  varchar, Company  varchar, Position  varchar, Connected_On  varchar',
 Index(['First_Name', 'Last_Name', 'Email_Address', 'Company', 'Position',
        'Connected_On'],
       dtype='object'))