In [2]:
# Create process to import CSV file into SQL Server Database

# Python 3.10

# file name: Connections_1221
#file path: C:\Users\snfra\OneDrive\Documents\RAW DATA\LINKED

In [1]:
# import libraries

import os
import pandas as pd
import numpy as np
import pyodbc  # to connect to SQL Server

# use the following in VS code python terminal: right click > run selection\line...
#pip install pyodbc

In [2]:
# get current working directory
os. getcwd()

'C:\\Users\\snfra\\OneDrive\\Desktop\\GITHUB\\Linked_Connections'

In [3]:
# change working directory
os.chdir('C:/Users/snfra/OneDrive/Documents/RAW DATA/Linked')
os. getcwd()

'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

In [4]:
# list all files in working directory
path = 'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

linked_files = os.listdir(path)

linked_files

['Connections_1221.csv']

In [6]:
linked = pd.read_csv('Connections_1221.csv')   
linked.head()

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Amanda,Somers,NaN,SailPoint,"Sr. Recruiter, Sales Engineering",3-Dec-21
1,Aaron,"Stalter, MPA",NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
2,Dawn,Ryder,NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
3,George,Welling,NaN,State of Missouri,ITSD Enterprise Resource Recruiter,3-Dec-21
4,Kelleri,Riegel,NaN,Fairygodboss,Senior Product Manager,2-Dec-21

In [7]:
# view column names

linked.columns

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [57]:
# clean the column names

linked.columns = [x.title().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in linked.columns]
                
linked.columns

Index(['First_Name', 'Last_Name', 'Email_Address', 'Company', 'Position',
       'Connected_On'],
      dtype='object')

In [58]:
# viewing data types of this panda dataframe
linked.dtypes

First_Name       object
Last_Name        object
Email_Address    object
Company          object
Position         object
Connected_On     object
dtype: object

In [ ]:
# SQl script to create table in database
create table Connections_1221
(
    First_Name       varchar,
    Last_Name         varchar,
    Email_Address       varchar,
    Company             varchar,
    Position          varchar,
    Connected_On         varchar,
);

In [59]:
# CREATING A FUNCTION THAT CLEANS THE COLUMN NAME AND CORRECTS DATA TYPES.

def cleaned_columns(dataframe):

      
    # clean the column names
    linked.columns = [x.title().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in linked.columns]
    
    
    #processing data
    replacements = {
        'timedelta64[ns]': 'varchar',
        'object': 'varchar',
        'float64': 'float',
        'int64': 'int',
        'datetime64': 'timestamp'
    }

    col_type = ", ".join("{}  {}".format(n, d) for (n, d) in zip(linked.columns, linked.dtypes.replace(replacements)))
    
    return col_type, dataframe.columns



# calling the function
cleaned_columns(linked)   # pass in a dataframe

('First_Name  varchar, Last_Name  varchar, Email_Address  varchar, Company  varchar, Position  varchar, Connected_On  varchar',
 Index(['First_Name', 'Last_Name', 'Email_Address', 'Company', 'Position',
        'Connected_On'],
       dtype='object'))

In [8]:
# CREATING A FUNCTION THAT CLEANS THE TABLE NAME, COLUMN NAME,AND CORRECTS DATA TYPES.

def cleaned_table(dataframe):
    
    #removing '.csv' so its not included on the table name in the database
    new_tbl_name = format(linked_files[0].split('.')[0])   # pulling the first file from 'linked_files' list

    print(new_tbl_name)

 
    
    # clean the column names
    linked.columns = [x.title().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in linked.columns]
    
    
    #processing data
    replacements = {
        'timedelta64[ns]': 'varchar',
        'object': 'varchar',
        'float64': 'float',
        'int64': 'int',
        'datetime64': 'timestamp'
    }

    col_type = ", ".join("{}  {}".format(n, d) for (n, d) in zip(linked.columns, linked.dtypes.replace(replacements)))
    
    return col_type, dataframe.columns



# calling the function
cleaned_table(linked)   # pass in a dataframe

Connections_1221

('First_Name  varchar, Last_Name  varchar, Email_Address  varchar, Company  varchar, Position  varchar, Connected_On  varchar',
 Index(['First_Name', 'Last_Name', 'Email_Address', 'Company', 'Position',
        'Connected_On'],
       dtype='object'))

In [9]:
# Open a database connection 

conn = pyodbc.connect('Driver={ODBC Driver 17 for SQL Server};'
                      'Server=LAPTOP-0CKQK2E3\;'
                      'Database=LinkedDB;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()

In [18]:
# test connection

q1 = "DROP TABLE IF EXISTS dbo.Connections_1221"

cursor.execute(q1)

In [19]:
q2 = "CREATE TABLE Connections_1221 (First_Name       varchar, Last_Name         varchar, Email_Address       varchar, Company             varchar,Position          varchar,Connected_On         varchar);"
    
#q2 = "create table Connections_1221 


cursor.execute(q2)

In [20]:
# close the connection

conn.close()