In [2]:
# Create process to import CSV file into SQL Server Database

# Python 3.10

# file name: Connections_1221
#file path: C:\Users\snfra\OneDrive\Documents\RAW DATA\LINKED

In [2]:
# import libraries

import os
import pandas as pd
import pyodbc

In [6]:
# get current working directory
os. getcwd()

'C:\\Users\\snfra\\OneDrive\\Desktop\\GITHUB\\Linked_Connections'

In [9]:
# change working directory
os.chdir('C:/Users/snfra/OneDrive/Documents/RAW DATA/Linked')
os. getcwd()

'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

In [10]:
# list all files in working directory
path = 'C:\\Users\\snfra\\OneDrive\\Documents\\RAW DATA\\Linked'

linked_files = os.listdir(path)

linked_files

['Connections_1221.csv']

In [11]:
data = pd.read_csv('Connections_1221.csv')   
data.head()

,First Name,Last Name,Email Address,Company,Position,Connected On
0,Amanda,Somers,NaN,SailPoint,"Sr. Recruiter, Sales Engineering",3-Dec-21
1,Aaron,"Stalter, MPA",NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
2,Dawn,Ryder,NaN,State of Missouri,Information Technology Project Manager,3-Dec-21
3,George,Welling,NaN,State of Missouri,ITSD Enterprise Resource Recruiter,3-Dec-21
4,Kelleri,Riegel,NaN,Fairygodboss,Senior Product Manager,2-Dec-21

In [13]:
# view column names

data.columns

Index(['First Name', 'Last Name', 'Email Address', 'Company', 'Position',
       'Connected On'],
      dtype='object')

In [16]:
# clean the column names

data.columns = [x.capitalize().replace(" ", "_").replace("-","_").replace(r"/","_").replace("\\","_").replace("$","") \
                              .replace("%","").replace("?","").replace(")","").replace("(","") for x in data.columns]
                
data.columns

Index(['First_name', 'Last_name', 'Email_address', 'Company', 'Position',
       'Connected_on'],
      dtype='object')